.row-with-2-columns {
  display: inline-grid;
  grid-template-columns: auto auto;
  width: 100%;
}

.row-with-2-columns table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 95%;
}

.row-with-2-columns thead th {
  background-color: #3b4e87;
  color: white;
  text-align: left;
  padding-left: 5px;
}

.row-with-2-columns tfoot th {
  background-color: #bfbfbf;
  color: black;
  text-align: right;
  padding-right: 5px;
}

.row-with-2-columns td {
  padding: 0 5px;
  color: black;
  text-align: right;
}

.row-with-2-columns input[type="text"] {
  width: 75px;
}

.row-with-2-columns td:nth-child(odd),
td.output {
  background-color: #d3d9eb;
}

.tax-deduction {
  width: 60% !important;
  float: right;
}

.tax-deduction th {
  text-align: right !important;
  padding-right: 5px;
}

.payment-schedule {
  border-collapse: collapse;
}

table.payment-schedule thead th {
  background-color: #a7b3d8;
  color: black;
  text-align: right;
  line-height: normal;
  font-weight: normal;
}

table.payment-schedule tbody th {
  background-color: #d3d9eb;
}

.todo {
  color: yellow !important;
}